@page "/"
@using BlazingShop.Services;
@using BlazingShop.Data;
@inherits OwningComponentBase<ProductService>

<h2>Blazing Records List of Vinyl Records For Sale</h2>
<p>This page lists all records in the sql database. Blazor, AspNetCore and Entity Framework.</p>
<p>Site checked for SQL injection with pentest-tools.com</p>

<div class="row">

    @foreach (var product in listProduct)
    {
        <BlazingShop.Pages.Components.IndividualProduct product="product"></BlazingShop.Pages.Components.IndividualProduct>
    }
</div>

<div class="copyright">&copy; Copyright @DateTime.Now.Year, Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</div>

@code{
    List<Product> listProduct = new List<Product>();
    protected override void OnInitialized()
    {
        listProduct = Service.GetProducts();
    }

}